* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.file-action-container {
  height: 3rem;
  background-color: lightblue;
}

.cellprop-action-container {
  height: 3rem;
  background-color: lightcoral;
}

.formula-action-container {
  height: 3rem;
  background-color: lightgoldenrodyellow;
}

.grid-action-container {
  height: calc(100vh - 3rem - 3rem - 3rem - 3rem);
  background-color: lightseagreen;
}

.sheet-action-container {
  height: 3rem;
  background-color: lightgrey;
}
